/.vs
/bin
MuonhoryoUnityLibrary.csproj
MuonhoryoUnityLibrary.sln
/obj/Debug/TempPE
/obj/Debug/.AssemblyReference.cache
/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/MuonhoryoUnityLibrary.csproj.AssemblyReference.cache
/obj/Debug/MuonhoryoUnityLibrary.csproj.CopyComplete
/obj/Debug/MuonhoryoUnityLibrary.csproj.CoreCompileInputs.cache
/obj/Debug/MuonhoryoUnityLibrary.csproj.FileListAbsolute.txt
/obj/Debug/MuonhoryoUnityLibrary.pdb

